In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
from subprocess import check_output
#print(check_output(["ls", "../input"]).decode("utf8"))

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import preprocessing
from sklearn.model_selection import train_test_split # to split the data into two parts
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/mhmmd-nauman/DataSets/master/wdbc/dsbc/csv/breast-cancer%20-%20complete.csv",header = 0)

In [ ]:
df.head()

     Age menopause tumor-size inv-nodes  ... breast  breast-quad irradiat Class
0  30-39   premeno      30-34       0-2  ...   left     left_low       no     B
1  40-49   premeno      20-24       0-2  ...  right     right_up       no     B
2  40-49   premeno      20-24       0-2  ...   left     left_low       no     B
3  60-69      ge40      15-19       0-2  ...  right      left_up       no     B
4  40-49   premeno        0-4       0-2  ...  right    right_low       no     B

[5 rows x 10 columns]

In [ ]:
#df.drop('id',axis=1,inplace=True)
#df.drop('Unnamed: 32',axis=1,inplace=True)

In [ ]:
#df['Offered'] = df['Offered'].map({'Yes':1,'No':0})
#df['Application Status'] = df['Application Status'].map({'Complete':1,'NotComplete':0})
from sklearn.preprocessing import LabelEncoder
labelencoder_X_1 = LabelEncoder()
df['Age'] = labelencoder_X_1.fit_transform(df['Age'])
df['menopause'] = labelencoder_X_1.fit_transform(df['menopause'])
df['tumor-size'] = labelencoder_X_1.fit_transform(df['tumor-size'])
df['inv-nodes'] = labelencoder_X_1.fit_transform(df['inv-nodes'])
df['node-caps'] = labelencoder_X_1.fit_transform(df['node-caps'])

df['deg-malig'] = labelencoder_X_1.fit_transform(df['deg-malig'])
df['breast'] = labelencoder_X_1.fit_transform(df['breast'])

df['breast-quad'] = labelencoder_X_1.fit_transform(df['breast-quad'])
df['irradiat'] = labelencoder_X_1.fit_transform(df['irradiat'])
df['Class'] = labelencoder_X_1.fit_transform(df['Class'])

In [ ]:
df.head()

   Age  menopause  tumor-size  inv-nodes  ...  breast  breast-quad  irradiat  Class
0    1          2           5          0  ...       0            2         0      0
1    2          2           3          0  ...       1            5         0      0
2    2          2           3          0  ...       0            2         0      0
3    4          0           2          0  ...       1            3         0      0
4    2          2           0          0  ...       1            4         0      0

[5 rows x 10 columns]

In [ ]:
data_df= list(df.columns[0:8]) 
data_df_main = df.loc[:,data_df]

In [ ]:
data_df_main

     Age  menopause  tumor-size  ...  deg-malig  breast  breast-quad
0      1          2           5  ...          2       0            2
1      2          2           3  ...          1       1            5
2      2          2           3  ...          1       0            2
3      4          0           2  ...          1       1            3
4      2          2           0  ...          1       1            4
..   ...        ...         ...  ...        ...     ...          ...
281    1          2           5  ...          1       0            3
282    1          2           3  ...          2       0            3
283    4          0           3  ...          0       1            3
284    2          0           5  ...          2       0            2
285    3          0           5  ...          2       0            2

[286 rows x 8 columns]

In [ ]:
X = data_df_main
y = df['Class']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.3,
                                                   random_state=0)

In [ ]:
svm_model = SVC()

parameters = [
              {'C': [1, 10, 100], 
               'kernel': ['linear']
              },
              
 ]

In [ ]:
grid_svm = GridSearchCV(svm_model, parameters, cv=20, scoring="accuracy")
grid_svm.fit(X_train,y_train)

GridSearchCV(cv=20, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'C': [1, 10, 100], 'kernel': ['linear']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [ ]:
print(grid_svm.best_score_)

0.7249999999999999

In [ ]:
y_pred = grid_svm.predict(X_test)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test, y_pred)
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
Sp = tn / (tn+fp)
Sn = tp/(tp + fn)

In [ ]:
print(cm)
print(Sp)
print(Sn)

[[52 10]
 [15  9]]
0.8387096774193549
0.375

In [ ]:
from sklearn.metrics import cohen_kappa_score
cohen_score = cohen_kappa_score(y_test, y_pred)

In [ ]:
cohen_score

0.2282842785355349