In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
from subprocess import check_output
#print(check_output(["ls", "../input"]).decode("utf8"))

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import preprocessing
from sklearn.model_selection import train_test_split # to split the data into two parts
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/mhmmd-nauman/DataSets/master/black-box-models/CP-Nets/dsbc/original%20ds/breast-cancer%20-%20complete.csv",header = 0)

In [ ]:
df.head()

,Age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no,B
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no,B
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no,B
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no,B
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no,B

In [ ]:
#df.drop('id',axis=1,inplace=True)
#df.drop('Unnamed: 32',axis=1,inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X_age = LabelEncoder()
df['Age'] = labelencoder_X_age.fit_transform(df['Age'])
labelencoder_X_menopause = LabelEncoder()
df['menopause'] = labelencoder_X_menopause.fit_transform(df['menopause'])
labelencoder_X_tumor_size = LabelEncoder()
df['tumor-size'] = labelencoder_X_tumor_size.fit_transform(df['tumor-size'])
labelencoder_X_inv_nodes = LabelEncoder()
df['inv-nodes'] = labelencoder_X_inv_nodes.fit_transform(df['inv-nodes'])
labelencoder_X_node_caps = LabelEncoder()
df['node-caps'] = labelencoder_X_node_caps.fit_transform(df['node-caps'])
labelencoder_X_deg_malig = LabelEncoder()
df['deg-malig'] = labelencoder_X_deg_malig.fit_transform(df['deg-malig'])
labelencoder_X_breast = LabelEncoder()
df['breast'] = labelencoder_X_breast.fit_transform(df['breast'])
labelencoder_X_breast_quad = LabelEncoder()
df['breast-quad'] = labelencoder_X_breast_quad.fit_transform(df['breast-quad'])
labelencoder_X_irradiat = LabelEncoder()
df['irradiat'] = labelencoder_X_irradiat.fit_transform(df['irradiat'])
labelencoder_X_class = LabelEncoder()
df['Class'] = labelencoder_X_class.fit_transform(df['Class'])

In [ ]:
df.head()

,Age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,1,2,5,0,0,2,0,1,0,0
1,2,2,3,0,0,1,1,4,0,0
2,2,2,3,0,0,1,0,1,0,0
3,4,0,2,0,0,1,1,2,0,0
4,2,2,0,0,0,1,1,3,0,0

In [ ]:
data_df= list(df.columns[0:9]) 
data_df_main = df.loc[:,data_df]

In [ ]:
data_df_main

,Age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,1,2,5,0,0,2,0,1,0
1,2,2,3,0,0,1,1,4,0
2,2,2,3,0,0,1,0,1,0
3,4,0,2,0,0,1,1,2,0
4,2,2,0,0,0,1,1,3,0
...,...,...,...,...,...,...,...,...,...
272,3,2,5,0,0,2,1,2,1
273,4,0,7,4,1,2,1,1,0
274,4,0,8,0,0,0,1,4,1
275,3,2,10,6,1,1,1,2,0
276,2,2,5,4,0,1,1,2,0

In [ ]:
X = data_df_main
y = df['Class']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.3,
                                                   random_state=0)

In [ ]:
svm_model = SVC()

parameters = [
              {'C': [1, 10, 100], 
               'kernel': ['linear']
              },
              
 ]

In [ ]:
grid_svm = GridSearchCV(svm_model, parameters, cv=20, scoring="accuracy")
grid_svm.fit(X_train,y_train)

GridSearchCV(cv=20, estimator=SVC(),
             param_grid=[{'C': [1, 10, 100], 'kernel': ['linear']}],
             scoring='accuracy')

In [ ]:
print(grid_svm.best_score_)

0.7766666666666666

In [ ]:
y_pred = grid_svm.predict(X_test)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test, y_pred)
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
Sp = tn / (tn+fp)
Sn = tp/(tp + fn)

In [ ]:
print(cm)
print(Sp)
print(Sn)

[[46 10]
 [21  7]]
0.8214285714285714
0.25

In [ ]:
from sklearn.metrics import cohen_kappa_score
cohen_score = cohen_kappa_score(y_test, y_pred)

In [ ]:
cohen_score

0.07920792079207917